body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: Arial;
    background-color: #242424;
    color: #fff;
}

#heading {
    font-size: 3.5em;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
    display: block;
	font-size: 1.5em;
}

a:hover {
    color: #b8c0d4;
}
